* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  font-family: sans-serif; }

/*Header*/
.header {
  top: 0;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 80px; }
  .header ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff; }
  .header li a {
    color: black;
    display: block;
    padding: 20px 50px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    text-align: center; }
  .header li button {
    display: block;
    background-color: #349689;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    padding: 20px 50px;
    margin: auto; }
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4; }
  .header .logo {
    display: block;
    float: left;
    padding: 10px 20px 0; }
  .header .logo img {
    max-width: 200px;
    margin: 10px 10px; }
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out; }
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none; }
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px; }
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%; }
  .header .menu-icon .navicon:before {
    top: 5px; }
  .header .menu-icon .navicon:after {
    top: -5px; }
  .header .menu-btn {
    display: none; }
  .header .menu-btn:checked ~ .menu {
    max-height: 240px; }
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent; }
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg); }
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg); }
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0; }

/*Main*/
main {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 7% 0 0 0; }

.button {
  background-color: #349689;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 30px; }

.container {
  margin: 50px;
  line-height: 100px; }

/*Pill Buttons*/
.pill-container {
  width: 100%; }

.pill-button {
  background-color: #f7f7f7;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px; }
  .pill-button:hover {
    background-color: #d6f0ff; }
  .pill-button:visited {
    background-color: #d6f0ff; }

.container-btn {
  padding: 50px; }
  .container-btn button {
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    padding: 20px 40px; }

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

picture img {
  width: 100%; }

.fa {
  font-size: 24px !important; }

section {
  background-color: #f3ede4; }

.item-arrow {
  position: absolute;
  bottom: 20px;
  right: 20px; }

.puzzle {
  background-image: url("../../images/feature-1.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
  background-size: 30%; }

.bricks {
  background-image: url("../../images/feature-2.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 30%;
  right: 0; }

.bricks-right {
  background-image: url("../../images/feature-2.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
  background-size: 30%; }

.feature-right {
  float: right; }

/*GRID*/
.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 20px;
  padding: 10px;
  width: 80%;
  padding: 5% 10%; }
  .grid-container a {
    color: black; }

.grid-container > div {
  padding: 20px 20px; }

.feature {
  grid-column: 1 /span 3;
  grid-row: 1/2; }

.item1 {
  grid-row: 2 / 4; }

.item2 {
  grid-row: 2 / 4; }

.item-color {
  background-color: white;
  box-shadow: 0 0 20px #00000040;
  position: relative; }

/*Price plan*/
.price-section {
  padding: 50px 0; }

.price-container {
  width: 80%;
  margin: auto; }

.price-table {
  float: left;
  width: 33.3%;
  padding: 10px 20px; }

#list {
  list-style-type: none;
  padding-left: 0; }

#toggle {
  float: right;
  background: none;
  border: none; }

#toggle-premium {
  float: right;
  background: none;
  border: none; }

#toggle-bussiness {
  float: right;
  background: none;
  border: none; }

.fa-arrow-circle-down {
  margin: 15px; }

.collapsible {
  display: none; }

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid black;
  border-radius: 20px; }
  .price li {
    padding: 20px; }

.basic {
  border: 3px solid #a8a8a8; }
  .basic h3 {
    display: inline;
    margin: 20px;
    color: #a8a8a8; }
  .basic .fa {
    color: #a8a8a8;
    padding-right: 10px; }

.premium {
  border: 3px solid #990000; }
  .premium h3 {
    color: #990000;
    display: inline;
    margin: 20px; }
  .premium .fa {
    color: #00a82d;
    padding-right: 10px; }

.business {
  border: 3px solid #424242; }
  .business h3 {
    color: #424242;
    display: inline;
    margin: 20px; }
  .business .fa {
    color: #424242;
    padding-right: 10px; }

.amount {
  font-size: 2.2rem;
  font-weight: bold; }

.currency {
  font-size: 2.2rem;
  font-weight: bold; }

.month {
  font-weight: bold; }

.card-link-expand__text {
  display: none; }

.grey {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px; }

.price-button {
  text-align: center;
  text-decoration: none;
  border-radius: 4px; }

.price-btn {
  border-radius: 4px;
  padding: 10px 30px;
  width: 100%;
  font-size: 20px;
  cursor: pointer; }

.basic-button {
  background-color: white;
  border: 2px solid #a8a8a8;
  color: #a8a8a8; }

.premium-button {
  background-color: #00a82d;
  border: 2px solid #00a82d;
  color: white; }

.business-button {
  background-color: #424242;
  border: 2px solid #424242;
  color: white; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

@media only screen and (max-width: 1300px) {
  .grid-container {
    width: 100%; }
  .feature-one {
    text-align: center;
    width: 50%;
    margin: auto; }
  .feature-two {
    text-align: center;
    width: 50%;
    margin: auto; }
  .feature-three {
    text-align: center;
    width: 50%;
    margin: auto; }
  .price-container {
    width: 100%;
    margin: auto; } }

@media only screen and (max-width: 980px) {
  .grid-container {
    width: 100%; }
  .feature-one {
    text-align: center;
    width: 80%;
    margin: auto; }
  .feature-two {
    text-align: center;
    width: 80%;
    margin: auto; }
  .feature-three {
    text-align: center;
    width: 80%;
    margin: auto; }
  .puzzle {
    background-position: top;
    padding-top: 20%; }
  .bricks {
    background-image: url("../../images/feature-2.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: 30%;
    padding-top: 20%; }
  .bricks-right {
    background-image: url("../../images/feature-2.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: 30%;
    padding-top: 20%; }
  .feature {
    grid-column: 1/span 3;
    grid-row: 1/2; }
  .item1 {
    grid-column: 1 /span 3;
    grid-row: 2/3; }
  .item2 {
    grid-column: 1 /span 3;
    grid-row: 3/4; }
  .item3 {
    grid-column: 1 /span 3;
    grid-row: 4/5; }
  .item4 {
    grid-column: 1 /span 3;
    grid-row: 5/6; }
  .pill-button {
    text-align: left;
    display: inline-block;
    width: 40%; } }

@media only screen and (max-width: 980px) {
  main {
    padding: 10% 0 0 0; }
  .price-container {
    width: 90%;
    margin: auto; }
  .price-table {
    width: 100%;
    padding: 10px 20px; }
  .grid-container {
    grid-gap: 20px 0; }
  /*Toggle*/
  .collapsible {
    display: inline-block; }
  #wrapper {
    overflow: hidden;
    transition: max-height 300ms;
    max-height: 0;
    /* <---hide by default */ }
  #wrapper.open {
    max-height: 1000px;
    /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */ }
  #wrapper-premium {
    overflow: hidden;
    transition: max-height 300ms;
    max-height: 0;
    /* <---hide by default */ }
  #wrapper-premium.open {
    max-height: 1000px;
    /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */ }
  #wrapper-bussiness {
    overflow: hidden;
    transition: max-height 300ms;
    max-height: 0;
    /* <---hide by default */ }
  #wrapper-bussiness.open {
    max-height: 1000px;
    /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */ } }

@media only screen and (max-width: 730px) {
  main {
    padding: 15% 0 0 0; }
  .pill-button {
    text-align: left;
    display: inline-block;
    width: 100%; } }

@media only screen and (min-width: 730px) {
  .header li {
    float: left; }
  .header li a {
    padding: 20px 30px; }
  .header li button {
    padding: 20px 30px; }
  .header .menu {
    clear: none;
    float: right;
    max-height: none; }
  .header .menu-icon {
    display: none; } }
